#css-zen-garden{
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-indent: 1em;


    width: 80%;
    min-width: 1230px;
    max-width: 1280px;
    margin-left: 10%;
    margin-right: 10%;

    background-color: #ececec;
    color: #c30051;
}

.page-wrapper{
    position: relative;
}

abbr{
    font-variant: small-caps;
}

a:link{
    color: #8ec61d;
    font-weight: bold;
}
a:visited{
    color: #437115;
    font-weight: normal !important;
}

h1, h2, h3{
    text-align: right;
    text-indent: 200px;
}

h1{
    margin-right: 1em;
    margin-left: 1em;
    display: inline-block;
    font-size: 1.8rem;
}

h2{
    display: inline-block;
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

#zen-intro{
    background-color: #c30051;
    color: #ececec;
    padding: 5%;
    margin-bottom: 5%;

    text-align: center;
}

#zen-supporting{
    line-height: 1.5;
}

.explanation p:first-of-type::first-letter{
    font-family: cursive;
    float: left;
    font-size: 3em;
}
.explanation p:first-of-type{
    text-indent: 0.6em;
}

.explanation{
    width: 60%;
    margin-right: 5%;
    border-right-color: #1f295c;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.participation, .benefits, .requirements{
    border-top-color: #1f295c;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.participation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.participation p{
    flex-basis: 50%;
}
.participation h3{
    flex-basis: 50%;
    align-self: center;
    text-align: left;
    text-indent: 0px;
}

.benefits{
    display: flex;
    flex-direction: row-reverse;
}
.benefits p{
    flex-basis: 70%;
}
.benefits h3{
    flex-basis: 30%;
    align-self: center;
}

footer{
    margin: 4%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #c30051;
    color: #ececec;
}
footer a{
    border-width: 2px;
    border-style: solid;
    border-color: #437115;
    background-color: #ececec;

    text-indent: 0px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}


#design-archives{
    display: none;
}

.sidebar ul{
    list-style-type: none;
}
li{
    text-align: center;
    margin-top: 1em;
}

#design-selection{
    font-size: 0.85em;
    position: absolute;
    top: 570px;
    left:60%;
    padding: 2%;
}
#design-selection li{
    border-top: #1f295c 1px solid;
    padding-top: 15px;
}
#design-selection li:last-of-type{
    border-bottom: #1f295c 1px solid;
    padding-bottom: 15px;
}