#css-zen-garden{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    text-indent: 1em;
}

h1, h2, h3{
    text-align: right;
    text-indent: 200px;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

#zen-intro{
    text-align: center;
}

#zen-supporting{
    line-height: 1.5;
}

abbr{
    font-variant: small-caps;
}